<div class="outer-container d-flex justify-content-center align-items-center"style="background-color:var(--background)">
    <div class="col-12 col-md-6">
        <img src="/homepage.jpg" class="img-fluid" alt="Image"/>
    </div>
    <div class="col-12 col-md-6 ">
        <h1 class="text-danger" >Where Talent Meets oppurtunity jksacvivc</h1>
        <p class="fs-2 text-info">Job opportunities an Internship and Job</p>
        <p class="fs-3 text-light">Get Discovered Get Hired thefda</p>
        <a type="button" class="btn btn-danger fs-4  " href="/job">I'm Job seeker</a>
        <button type="button" onclick="renderLoginForm()" class="btn btn-danger fs-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            I'm Recuritor
          </button>
    </div>
</div>