/* :root{
    --background: #304262;
}
body{
    background-color: var(--background);
} */
#cust a{
    color: aliceblue;
    font-size: large;
    font-weight: bolder;
}
#drop a{
    color: black;
}
#job-list {
    color: aliceblue;
}
#register-page{
    color: aliceblue;
}
#job-list h1{
    color:bisque;
}
#custom-border {
    border-width: 2px; /* Adjust the width of the border */
    border-style: solid; /* Choose the style of the border */
    border-color: lightgray; /* Choose the color of the border */
    /* Optionally, you can add other properties to customize the border */
    /* For example: */
    border-radius: 5px; /* Rounded border */
    height: 300px; /* Adjust the height of the element */
    width: 270px; /* Adjust the width of the element */
  }
  .btn.btn-success:hover {
    background-color: #8a5b04; /* New hover color for success buttons */
    /* You can adjust the color value to your preference */
}
#errorpage{
    background-size: cover;
}