<form action="/login" method="get">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label text-light">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input text-light" id="exampleCheck1">
      <label class="form-check-label text-light" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary text-light">Login</button>
  </form>